@import "_font-face.styl"
@import "_libs.styl"
@import "_vars.styl"

// all
*
	box-sizing border-box
	&:before, &:after
		box-sizing border-box

html, body
	height 100%

body
	font-size 16px
	min-width 320px
	position relative
	line-height 1.65
	font-family $default-font
	overflow-x hidden
	margin 0
	background $green-2

img
	display block
	max-width 100%
	height auto

ul 
	margin 0
	padding 0

li 
	list-style-type none

h1,h2,h3,
h4,h5,h6 
	font-weight $default-weight
	margin 0
	padding 0
	
p 
	margin 0
	padding 0

a
	transition .2s color ease-in

.wrapper
	width 100%
	margin 0 auto
	max-width 1230px
	padding 0 30px

.title 
	font-weight 500
	font-size 50px
	color $black
	line-height 60px

.subtitle
	font-weight 500
	font-size 30px
	color $black
	line-height 40px

.text 
	font-size 15px
	color $gray-3
	line-height 20px
	&__subtitle 
		text-transform uppercase
	&-light 
		color $gray-3

.hide
	display none

.colon
	display inline-block
	margin 0 6px 0 3px

.sort 
	cursor pointer
	span 
		cursor pointer

.btn
	&__get
		display inline-block
		text-decoration none
		background $green
		box-shadow 0 20px 39px 0 rgba(89,196,82,0.30)
		border-radius 15px
		border 2px solid $green
		font-size 12px
		color $white
		letter-spacing .8px
		text-align center	
		transition background .3s ease
		padding 13px 30px
		text-transform uppercase
		&:hover
			background $white
			color $green
		&-card 
			box-shadow 0 20px 39px 0 rgba(89,196,82,0.30)
			font-size 15px
			width 100%
			padding 16px
	&__more 
		display inline-block
		text-decoration none
		border 2px solid $green
		border-radius 15px
		background transparent
		font-size 12px
		color $green
		letter-spacing 0.8px
		text-align center
		transition background .3s ease 
		text-transform uppercase
		padding 15px 40px
		font-weight 500
		&:hover 
			color $white 
			background-color $green


.progress
	&__bar
		background $progress
		border-radius 5px
		position relative
		width 100%
		max-width 130px
		height 7px
	&__fill 
		position absolute
		top 0
		left 0
		background $orange
		width 100%
		bottom 0
		right 0
		border-radius 5px
		box-shadow 0 2px 4px 0 rgba(255,169,62,0.40)
	&__procent 
		font-size 15px
		color $black
		margin-left 17px
// *********************************** HEADER ***********************************
.header
	&__wrapper
		display flex
		justify-content space-between
		padding 34px 0
	&__menu
		display flex
		justify-content space-between
	&__phone
		display flex
		flex-direction column
		margin-right 46px
		text-align right
		span 
			font-size 15px
			color $gray-2
			line-height 22px
		a
			font-size 20px
			color $black
			line-height 26px
			text-decoration none
			&:hover 
				color $gray
	&__mobile
		display none

// *********************************** RATING ***********************************
.rating
	overflow hidden
	.title 
		max-width 500px
	&__wrapper
		display flex
		justify-content flex-start
		position relative
		padding 10px 0 65px
	&__items 
		display flex
		justify-content space-between
		padding 47px 0
	&__item 
		margin 1px 59px 0 0
		&:last-child
			margin-right 0
	&__icon
		min-height 49px
		display flex
		align-items center
		margin-bottom 10px
	&__subtitle
		font-weight $default-weight
		font-size 20px
		color $black
		line-height 30px
	&__fill 
		background $white
		box-shadow -34px 78px 194px 0 rgba(253,207,100,0.03)
		border-radius 29px
		font-size 20px
		color $black
		line-height 30px
		padding 30px 39px
		margin-left 2px
	&__image 
		display flex
		justify-content space-between
		align-items flex-start
	&__text
		padding 18px 0
	&__girl
		position absolute
		bottom 0
		right -115px
		z-index 2
		&-circle 
			position absolute
			bottom 0
			right -160px

// *********************************** CARD ***********************************
.card
	background $white
	position relative
	&__wrapper 
		display flex
		justify-content space-between
		padding 60px 0 75px
	&__item 
		text-align center
		transition all .3s ease
		border-radius 0 100px 0 100px
		max-width 370px
		width 100%
		padding 38px 54px 34px
		&:hover 
			box-shadow 0 24px 124px 0 rgba(74,81,74,0.13)
	&__rating 
		margin 10px 0
		font-size 15px
		color $gray
		text-align center 
		line-height 20px
	&__bar
		margin auto 0
		&-wrapper 
			display flex
			align-items center 
			justify-content center
			margin 9px 0
	&__image
		text-align center 
		min-height 80px
		display flex
		align-items center
		justify-content center
	&__loan
		font-size 20px
		color $black
		text-align center
		line-height 40px
		background $progress
		border-radius 35px
		display flex 
		align-items center
		justify-content center
		padding 10px
		margin-top 25px
		svg 
			margin-right 12px
	&__time
		font-size 15px
		font-weight 400
		color $black 
		line-height 20px
		margin 25px 0 20px
		span 
			font-weight 500
			color $black-2
		p
			margin-bottom 10px
	&__price
		font-size 15px
		color $black 
		text-align center
		span
			display inline-block
			margin 0 8px
			font-size 30px
			color $black-2
	&__button 
		margin-top 10px
	&__deadline 
		font-size 15px
		color $gray
		margin-top 30px
	&__timer 
		font-size 30px
		color $black 
		span
			display inline-block
			width 36px
			text-align left
		.colon
			width auto
			position relative
			left 6px
			margin 0 6px 0 3px
			top -1px

.offer
	background #F5F9F5
	&__mobile
		display none
	&__wrapper 
		padding 82px 0 50px
	&__navigation
		display flex
		justify-content space-between
		border-bottom 1px solid #ECECEC
	&__table 
		padding 25px 0 15px
	&__sort
		width 14.27%
		font-size 15px
		color $gray 
		padding 15px 0
		&:nth-child(2)
			width 20%
		&:nth-child(3)
			width 8.54%
		&-transparent 
			opacity 0
		span 
			display inline-block
			position relative
			&:after
				position absolute
				content ''
				right -9px
				top 0
				background-image url(../img/arrow_gray.svg)
				width 7px
				height 4px
				top 50%
				transform translateY(-50%)
		&-active 
			color $black
			span 
				&:after
					background-image url(../img/arrow_black.svg) 
	&__item 
		display flex
		justify-content space-between
		padding 21px 0
		align-items center
		text-decoration none
		font-size 15px
		color $gray
		position relative
		transition all .3s ease
		&:hover
			background $white
			box-shadow 0 24px 124px 0 rgba(74,81,74,0.13)
			border-radius 20px
			.progress__bar
				background-color #F5F9F5
		&:after 
			position absolute
			content ''
			right 0
			bottom 0
			background #ececec
			height 1px
			width 85.73%
		&:last-child
			&:after
				display none

	&__body 
		display flex
		justify-content space-between
		width 37.19%
		&-inner 
			width 33%
			&:nth-child(1)
				width 17.57%
			&:nth-child(2)
				width 32.03%
			&:nth-child(3)
				width 38%
	&__inner 
		width 14.27%
		padding-right 10px
		&:nth-child(2)
			width 20%
	&__bar
		display flex
		justify-content flex-start
		align-items center
	&__sum
		color $black
	&__more 
		display flex
		flex-direction column 
		justify-content center
		align-items center
		font-size 15px
		color $gray
		text-align center
	&__add 
		span 
			display inline-block
			font-weight 500
			font-size 12px
			color $white
			background $orange
			border-radius 20px
			padding 1.5px 9px
	.progress
		&__bar 
			background $white
		&__procent 
			color $gray
			margin-left 10px
	.btn
		&__get
			padding 13px 14px
			box-shadow none
			&:hover
				background-color $green 
				color $white
		&__more 
			margin 18px 0


// *********************************** INFO ***********************************
.info
	background $white
	&__wrapper 
		padding 82px 0 74px
	&__items 
		display flex
		justify-content space-between
		flex-wrap wrap
		padding 45px 0 0
	&__item
		width 31.8%
		padding-right 10px
		padding-bottom 40px
		p,
		a
			font-size 15px
			color $gray
			text-decoration none
			line-height 20px
	&__subtitle
		font-size 15px
		color $black-2
		padding-bottom 18px
		span 
			font-weight 500
			text-transform uppercase
	&__more 
		text-align center

// *********************************** SEO ***********************************
.seo
	background $green-2
	padding 80px 0 60px
	&__wrapper 
		max-width 770px
		margin 0 auto
	.text 
		color $black
		margin-bottom 20px

// *********************************** FOOTER ***********************************
.footer
	background $black
	&__wrapper 
		padding 80px 0 58px
	&__subtitle 
		font-weight 500
		color $white
		line-height 30px
		display flex
		align-items center 
		margin-bottom 30px
	&__items
		display flex
		justify-content space-between
	&__item 
		max-width 350px
		width 100%
		&:nth-child(2)
			margin 0 15px
	svg 
		margin-right 14px
	.text 
		color $white
		margin-bottom 20px
	span 
		font-weight 500

@import "_form.styl"
@import "_modals.styl"
@import "_media.styl" // Always at the end