$default-font = "Rubik", sans-serif
$default-weight = 400
$white = #fff
$black = #2C2F2C
$black-2 = #000
$gray = #919791
$gray-2 = #8AAC87
$gray-3 = #003D00
$green = #59C452
$green-2 = #B4FAB0
$orange = #FFA93E
$progress = #F3FAF2